html {
  height: 100%;
  margin: 0;
  padding: 0;
}
html > body {
  background: #FFFFFF;
  background: url("/templates/default/index/img/bg-body-iasa-1.png") center -250px repeat-x;
  margin: 0;
  height: 100%;
  padding: 0;
  position: relative;
}
html > body > .page-canvas {
  border: 1px solid green;
}
html > body > .page-canvas > .paper-canvas {
  margin: auto 64px;
}
html > body > .page-canvas > .paper-canvas > header {
  background-image: url("/templates/default/index/img/bg-header-iasa-1.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: 32px;
  position: relative;
}
html > body > .page-canvas > .paper-canvas > footer {
  background-image: url("/templates/default/index/img/bg-footer-iasa-1.png");
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 100px;
}
nav.toolbar {
  background-color: #c9dbf4;
  border-radius: 0 0 12px 12px;
  font-size: 10pt;
  line-height: 16pt;
}
nav.toolbar a {
  text-decoration: none;
}
nav.toolbar img {
  vertical-align: 0px;
}
nav.toolbar li,
nav.toolbar ul {
  margin: 0;
  padding: 0;
}
nav.toolbar li {
  display: inline-block;
  padding: 0 8px;
}
nav.toolbar li:hover a {
  color: #ffffff;
}
nav.toolbar ul {
  list-style: none;
  padding: 0 8px;
}
nav.toolbar #menu-top {
  float: left;
}
nav.toolbar #menu-language {
  float: right;
}
nav.toolbar #search-bar {
  float: right;
}
nav.toolbar #search-bar,
nav.toolbar #search-bar > * {
  border: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}
nav.toolbar #menu-top-home {
  display: inline-block;
  height: 16px;
  width: 16px;
}
nav.toolbar #menu-top-home {
  background: url("/templates/default/toolbar/home-16.png") no-repeat;
}
nav.toolbar #menu-top-home:hover {
  background-image: url("/templates/default/toolbar/home-16-white.png") !important;
}
nav.toolbar .clean {
  border: none !important;
  clear: both;
  height: 1px;
  overflow: hidden;
}
